
DummyProject.xcodeproj/project.xcworkspace/contents.xcworkspacedata

DummyProject.xcodeproj/project.xcworkspace/xcuserdata/sassembla.xcuserdatad/UserInterfaceState.xcuserstate

DummyProject.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/DummyProject.xcscheme

DummyProject.xcodeproj/xcuserdata/sassembla.xcuserdatad/xcschemes/xcschememanagement.plist
